<div class="d-flex justify-content-center mt-3 mb-3">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            <h5>
                <%=drinks[0].category%>
            </h5>
        </div>
        <ul class="list-group list-group-flush">
          <%for(let drink of drinks) {%>  
          <li class="list-group-item">
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">
                      <%=drink.name%>
                  </h5>
                  <p class="card-text">
                    <%=drink.details%>
                </p>
                  <h5 class="card-subtitle mb-2">
                     <%=drink.price%> 
                 </h5>
                  <div class="d-flex justify-content-around mt-3">
                    <input type="number" class="form-control" id="'quantity" name="quantity">
                    <button class="btn btn-primary">Add</button>
                  </div>
                  
                </div>
              </div>
          </li>
          <%}%>
           
        </ul>
      </div>
</div>