<div class="d-flex justify-content-around mt-3">
    <input type="number" class="form-control" id="quantity" 
           name="quantity" min="1" max="99">
    <input type="number" class="form-control" id="amount" 
           name="amount" hidden>       
    <button class="btn btn-primary">Add</button>
  </div>