 
.header-section {
     width: 100%;
     height: 200px;
     background: url(../img/dark_bricks.jpg);
}

.header-section h1 {
    text-align: center;
    color: aliceblue;
    padding: 60px;
}

.navbar-section {
    background: url(../img/aditya-joshi-wG923J9naFQ-unsplash.jpg);
}

.navbar-section, #home, #about, #menu, #contact {
    color: aliceblue;
}

main {
    background: url(../img/mockup-photos-5nUNdLueQio-unsplash.jpg);
}

.home-section {
    width: 100%;
    height: 500px;  
}

.home-section .card {
    background: url(../img/aditya-joshi-wG923J9naFQ-unsplash.jpg);
}

.home-section .card h5 {
    text-align: center;
    color: aliceblue;
}

.about-section {
    width: 100%;
    height: 500px;
}

.about-section .card {
    background: url(../img/aditya-joshi-wG923J9naFQ-unsplash.jpg);
}

.about-section .card h5, p {
    text-align: center;
    color: aliceblue;
}

.contact-section #map {
    width: 50%;
    height: 300px;
}

.menu-section .card {
    background: url(../img/aditya-joshi-wG923J9naFQ-unsplash.jpg);
}

.menu-section .card .card-header {
    text-align: center;
    color: aliceblue;
}

.menu-section .card .list-group-item {
    color: aliceblue;
    background: url(../img/dark_bricks.jpg);
}

.menu-section .card .list-group-item h5 {
    text-align: center;
}

.menu-section .card .list-group-item .form-control {
    width: 70px;
}

.menu-section #food, #price {
    width: 220px;
    background: url(../img/aditya-joshi-wG923J9naFQ-unsplash.jpg);
    color:aliceblue;
    border: none;
}

.menu-section #food:focus, #price:focus {
    outline: none;
}

.cart-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cart-section .table {
    width: 30%;
    background: url(../img/dark_bricks.jpg);
    align-self: center;
}

.cart-section .table th, td{
    color:aliceblue
}

.cart-section .table tfoot #total {
    width: 75px;
    background: url(../img/dark_bricks.jpg);
    color: aliceblue;
    border: none;
}

.footer-section {
    width: 100%;
    height: 100px;
    background: url(../img/jonathan-borba-jSNpQciz6-w-unsplash.jpg);
}

.footer-section span {
    color: aliceblue;
    padding: 100px;
}



 