<% layout('layouts/template') %>

<section class="menu-section">
    <div class="d-flex justify-content-around">
        <%- include('../partials/starters') %>
        <%- include('../partials/salads') %>
        <%- include('../partials/burgers') %>
        <%- include('../partials/drinks') %>
    </div>
</section>

 