<% layout('layouts/template') %>

<section class="purchase-section">
    <div class="d-flex justify-content-center mt-3 mb-3">
            <form action="/foods/purchase/<%=id%>" method="post">
                <label for="total"  >
                    Total:
                </label>
                <input class="form-control" type="Number" name="total" id="total" 
                       value="<%=total%>" readonly>
                <br>     
                <label for="customer">
                    Customer:
                </label>  
                <input class="form-control" type="text" name="customer" id="customer">
                <br> 
                <label for="phonenumber">
                    Phone Number:
                </label>  
                <input class="form-control" type="text" name="phonenumber" id="phonenumber"> 
                <br> 
                <label for="address">
                    Address:
                </label>
                <br>
                <input class="form-control" name="address" id="address">
                <br><br>
                <button class="btn btn-primary">Purchase</button>   
            </form> 
    </div>

</section>

