<% layout('layouts/template') %>
<section class="mburger-section">
     <div class="d-flex justify-content-around flex-wrap mt-3 mb-3">
        <% for(let burger of burgers) {%>  
        <div class="card mb-3" style="width: 15rem;">
            <div class="card-body">
                <h5 class="card-title text-center">
                    <%= burger.name %>
                </h5>
                <h5 class="card-subtitle text-center mt-3">
                    <%= burger.price%>
                </h5>
                <p class="card-text mt-3"><%=burger.details%></p>
            </div>
          </div>
        <% } %> 
     </div>
</section> 