<% layout('layouts/template') %>
<section class="mdrink-section">
     <div class="d-flex justify-content-around flex-wrap mt-3 mb-3">
        <% for(let drink of drinks) {%>  
        <div class="card mb-3" style="width: 15rem;">
            <div class="card-body">
                <h5 class="card-title text-center">
                    <%= drink.name %>
                </h5>
                <h5 class="card-subtitle text-center mt-3">
                    <%= drink.price%>
                </h5>
                <p class="card-text mt-3"><%=drink.details%></p>
            </div>
          </div>
        <% } %> 
     </div>
</section>